<form [formGroup]="form">
  <div 
    class="form-group">
    <label for="oldPassword">
      Old Password
    </label>
    <input
      formControlName="oldPassword" 
      type="password" 
      id="oldPassword" 
      class="form-control">
    <div
      *ngIf="oldPassword.touched && oldPassword.invalid" 
      class="alert alert-danger">
      <div *ngIf="oldPassword.errors.required">Old password is required</div>
      <div *ngIf="oldPassword.errors.oldPasswordInvalid">Old password is invalid</div>
    </div>
  </div>

  <div 
    class="form-group">
    <label for="newPassword">
      New Password
    </label>
    <input
      formControlName="newPassword" 
      type="password" 
      id="newPassword" 
      class="form-control">
    <div
      *ngIf="newPassword.touched && newPassword.invalid" 
      class="alert alert-danger">
      <div *ngIf="newPassword.errors.required">New password is required</div>
    </div>
  </div>

  <div 
    class="form-group">
    <label for="confirmPassword">
      Confirm Password
    </label>
    <input
      (change)="verifyConfirmPassword()"
      formControlName="confirmPassword" 
      type="password" 
      id="confirmPassword" 
      class="form-control">
    <div
      *ngIf="confirmPassword.touched && confirmPassword.invalid" 
      class="alert alert-danger">
      <div *ngIf="confirmPassword.errors.required">Confirm password is required</div>
      <div *ngIf="confirmPassword.errors.passwordsDontMatch">Password don't match</div>
    </div>
  </div>
  <button 
    [disabled]="form.invalid"
    class="btn btn-primary">
    Change Password
  </button>
</form>
